<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sinitek.mix" >

    <!--//网络-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--//sd卡读写-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application>
        <activity android:name=".innerAC.__WeexMainActivity" />
        <!--中转页，用于处理跳转的。exported设置为false，防止其他App分享至浏览器时可以看到这个Activity-->
        <activity android:name=".innerAC.__WeexToNativeForwardProxyActivity"
            android:exported="false"
            android:label="Weex网页预览"
            tools:ignore="AppLinkUrlError">
            <!--Weex跳转push（常规跳转，文件跳转、无host限制的）-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.taobao.android.intent.category.WEEX"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <action android:name="com.alibaba.weex.protocol.openurl"/>

                <data android:scheme="http"
                    android:host="*"/>
                <data android:scheme="https"
                    android:host="*"/>
                <data android:scheme="file"
                    android:host="*"/>
                <data android:scheme="local"
                    android:host="*"/>
                <data android:scheme="data"
                    android:host="*"/>
            </intent-filter>
            <!--Weex跳转push（约定跳转、限制了host的，用于js中的特定跳转。）-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.taobao.android.intent.category.WEEX"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <action android:name="com.alibaba.weex.protocol.openurl"/>

                <data android:scheme="weex"
                    android:host="weex_mix.com"
                    android:path="/proxyAC"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
